<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="REST API">
    <classes>
      <class name="tests.Basics3"/>
      <class name="tests.Basics2"/>
      <class name="tests.Basics6"/>
    </classes>
  </test> <!-- REST API -->
</suite> <!-- Suite -->
